body {
	background-color: #006090;
}

.main-contents {
	margin: 0 auto;
	background-color: #eeedee;
	height: 100%;
	width: 800px;
}

.tweet-box {
	width: 380px;
	height: 66px;
}

.header {
	text-align: right;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 15px;
	line-height: 20px;
}

.profile .description {
	font-size: 15px;
	line-height: 18px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #silver;
}

.button {
	display: inline-block;
	border-radius: 1%;
	font-size: 14px;
	text-align :center;
	cursor: pointer;
	padding: 12px 12px;
	background: #008080;
	color: #ffffff;
	line-height: 1em;
	transition: .3s;
	box-shadow: 5px 5px 3px #666666;
	border: 2px solid #000066
}

.button:hover {
	box-shadow: none;
	color: #008080;
	background: #ffffff;
}

.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: blue;
	font: small-caption;
	font-size: 10px;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}